@charset "UTF-8";


$oxygen : 'Oxygen', sans-serif;
$fontawesome : 'FontAwesome', sans-serif;
$opensans : 'Open Sans', sans-serif;
$montserrat : 'Montserrat', sans-serif;
$mdi: "Material Design Icons";
$poppins: "Poppins", sans-serif;
$roboto : 'Roboto', sans-serif;

/*=====  End of Fonts  ======*/
