body {
  /* background-image: url('./public/bg.png'); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.titleText{
  color: white;
}

.bodyCards{

  padding-top: 100px;
}
.GridName{
   text-align: center;
   -webkit-text-fill-color: white;

}


.cardPosition{
  padding-top: 50px;
}


.textcard{
  padding-left :50px;
}

#cardNotes{
  height: 450px !important;
  width: 250px !important;
  padding-top: 20px;
}




body {background-color:#03a9f4;z-index:1;overflow-y:hidden;overflow-x:hidden;}



