@charset "UTF-8";

/*====================================
=            Page Actions            =
====================================*/

.app--page-actions{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

/*=====  End of Page Actions  ======*/