<div class="login-container">
  <div class="row">
    <div class="app-login-form window-box">
      <div class="heading">
        <h3>IUDEX</h3>
      </div>

      <div class="form-container">
        <div class="form-group">
          <label for="username">User name</label>
          <input type="text" id="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control">
        </div>

        <div class="form-group">
          <input id="check1" type="checkbox" checked>
          <label for="check1">I accept
            <a href="">Terms and Conditions</a>
          </label>
        </div>
        <!-- ./form-group -->
        <button class="btn btn-primary width-full mb25">Login</button>
      </div>
    </div>
    <!-- // Login form -->
  </div>
</div>