<div class="login-container">
  <div class="row">
    <div class="col-md-12">
        <div class="app-login-form window-box">
            <div class="image-container">
              <img src="../../../assets/images/logo.png" alt="">
            </div>
        
            <div class="form-container">
                  <div class="form-group">
                    <label for="username">User name</label>
                    <input type="text" id="username" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" id="username" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="username">Password</label>
                    <input type="text" id="username" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" id="password" class="form-control">
                  </div>
            
                  <button class="btn btn-primary width-full mb25">Sign Up</button>
              
                  <div class="form-group forgot-password">
                    <a href="forgot-password.html" class="base-color app-forgot-password"><i class="fa fa-lock"></i> &nbsp; Forgot your password?</a>
                  </div>
            </div>
          </div><!-- // Login form -->
    </div>
  </div>
</div>
